*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!*.hpp
!.gitignore
!.scalafmt.conf
!build.sc
!utils/*
!README.md
build/
**/obj_dir/*


# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
